﻿@model List<WebjetMovies.Models.Movie>
@{
    ViewBag.Title = "Webjet Movie";
}

<div class="jumbotron">
    <h1>Webjet Movie</h1>
    <p class="lead">Always the best movie prices</p>
</div>

@foreach (var movie in Model)
{
<div class="row" style="border-bottom: solid 1px #CCC; padding: 5px 0px;">
    <div class="col-md-2">
        <img src="@movie.Poster" border="0" style="max-width: 100%; max-height: 100%" />
    </div>
    <div class="col-md-4">
        <h4>@movie.Title</h4>
        <p>@movie.Plot</p>
    </div>
    <div class="col-md-4">
        <ul class="list-unstyled" style="text-indent: 70px; font-size: smaller">
            @for (var i = 0; i < movie.Availability.Count(); i++)
            {
                <li @(i == 0 ? Html.Raw("class='best-price'") : Html.Raw(""))>
                    @movie.Availability[i].Provider : @movie.Availability[i].Price.ToString("C")
                </li>
            }
        </ul>
    </div>
</div>
}